.modal-product {
  position: absolute;
  padding: 30px 0 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 940px;
  width: 100%;
  min-height: 670px;
  background-color: #fff;
  border: 10px solid $blue-bg;

  @include media-w($md) {
    padding: 30px 45px 0;
    max-width: 90%;
  }

  @include media-w($sm) {
    border: none;
    top: unset;
    left: unset;
    transform: unset;
    max-width: 100%;
    padding: 0 0 50px 0;
  }

  &--show {
    opacity: 1;
    pointer-events: all;
  }

  &__inner {
    max-width: 810px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @include media-w($sm) {
      padding: 0 25px;
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    @include media-w($sm) {
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__right {
    display: flex;
  }

  &__img-wrapper {
    @include media-w($sm) {
      margin-right: 15px;
    }
  }

  &__img {
    max-width: 80px;
    max-height: 90px;
    object-fit: contain;
    object-position: center;
  }

  &__close {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;

    @include media-w($sm) {
      top: 23px;
      right: unset;
      left: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 28px;
      height: 28px;
      background-image: url('../images/icons/cross-dark.svg');
      background-repeat: no-repeat;

      @include media-w($sm) {
        background-image: url('../images/icons/arrow-back.svg');
      }
    }
  }

  &__title {
    font-family: 'FjallaOne', sans-serif;
    font-size: 44px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: $black-main;
    text-align: center;
    margin: 0 0 25px 0;

    @include media-w($sm) {
      background-color: $blue-bg;
      padding: 15px 15px 15px 70px;
      margin-bottom: 15px;
      font-size: 27px;
      text-align: left;
    }
  }

  &__form {
    position: relative;

    @include media-w($sm) {
      padding: 0 25px;
    }
  }

  &__name {
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #373737;
    max-width: 180px;
  }

  &__before {
    display: inline-block;
    padding-top: 10px;
    font-family: 'FjallaOne', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;

    @include media-w($sm) {
      margin-right: 10px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include media-w($sm) {
      flex-direction: column;

    }
  }

  &__submit {
    position: absolute;
    right: 0;
    bottom: -100px;

    @include media-w($sm) {
      position: static;
      display: block;
      width: 100%;
    }
  }

  .form__label {
    @include media-w($sm) {
      max-width: 100%;
    }

    &--last {
      @include media-w($sm) {
        margin-bottom: 10px;
      }
    }

    &:not(:last-child) {
      @include media-w($sm) {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
  }

  .form__notification {
    @include media-w($sm) {
      margin-bottom: 15px;
    }
  }
}