.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $grey60;
  box-shadow: 0 0;
  position: relative;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;

  @include media-w($sm) {
    justify-content: flex-end;
  }

  @include media-w($xs) {
    min-height: 270px;
  }

  &--sm {
    min-height: 360px;

    @include media-w($sm) {
      min-height: 34vh;
    }
  }


  &__image {
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-height: 275px;

    @include media-w($lg) {
      max-height: 220px;
    }

    @include media-w($sm) {
      max-width: 100%;
      max-height: 260px;
    }

    &--sm {
      max-width: 254px;
      //height: 255px;

      @include media-w($sm) {
        max-width: 43vw;
      }

    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-top: 1px solid $grey60;
    transition: background-color 0.3s;

    //@include media-w($md) {
    //  height: unset;
    //}

    @include media-w($sm) {
      text-align: center;
      padding: 8px;
    }

    @include media-w($xs) {
      padding: 10px 8px;
    }

    &--sm {
      padding: 10px;

      @include media-w($lg) {
        padding: 10px 5px;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin: 0 0 7px 0;
    font-weight: 600;
    max-height: 60px;
    text-align: center;

    @include text-clamp(2);

    @include media-w($sm) {
      font-size: 18px;
    }

    &--sm {
      margin: 0;
      font-size: 18px;
    }
  }

  &__stars {
    margin-bottom: 10px;

    &--sm {
      margin-bottom: 5px;
    }
  }

  &__badge {
    position: absolute;
    left: 0;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 4;

    @include media-w($lg) {
      max-width: 70px;
      bottom: 29%;
    }

    @include media-w($md) {
      display: none;
    }

    &--sm {
      display: none;

      @include media-w($md) {
        display: flex;
        flex-direction: column;
        top: -10px;
        bottom: unset;
        height: unset;
      }

    }

    svg {
      max-width: 92px;
      max-height: 56px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__price {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    margin-top: auto;

    @include media-w($sm) {
      font-size: 16px;
    }
  }
}