.article-right {
  position: relative;
  padding: 30px 0 0;
  margin-bottom: 160px;

  @include media-w($lg) {
    margin-bottom: 100px;
  }

  @include media-w($md) {
    padding: 0 0 60px;
    margin-bottom: 0;
  }

  &__title {
    margin-top: 0;

    @include media-w($md) {
      text-align: center;
    }
  }

  &__bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1050px;
    height: 720px;

    @include media-w($lg) {
      height: 400px;
    }

    @include media-w($md) {
      width: 100%;
    }
  }

  &__content {
    padding: 0 10px;
    max-width: 390px;
    margin-top: 110px;
    margin-right: 60px;

    @include media-w($md) {
      margin-top: 40px;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    max-width: 1520px;
    flex-direction: row-reverse;
    margin: 0 auto;

    @include media-w($md) {
      flex-direction: column;
    }
  }

  &__text {
    margin-bottom: 45px;
    font-size: 18px;
  }

  &__wrapper {
    max-width: 1180px;
  }

  &__bottom {
    @include media-w($md) {
      text-align: center;
    }
  }
}