.featured-products {
  padding-bottom: 60px;

  @include media-w($sm) {
    padding-bottom: 50px;
  }

  &__title {
    text-align: center;
    margin: 0 0 50px 0;

    @include media-w($md) {
      text-align: left;
      margin-bottom: 40px;
    }

    @include media-w($sm) {
      margin-bottom: 25px;
    }
  }
}