.slider-marketing {
  font-family: 'FjallaOne', sans-serif;
  color: $black-main;

  &__container {
    max-width: 1860px;
    margin: 0 auto;
  }

  &__list {
    margin-top: 0;

    .slick-dots {
      display: flex;
      justify-content: center;
      bottom: 145px;

      li {
        margin: 0;

        &:not(:last-child) {
          margin-right: 35px;
        }

        button {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: $black-main;
          font-size: initial;
          padding: 0;
          box-shadow: 0 0;

          &:before {
            content: none;
          }
        }
      }

      .slick-active {
        button {
          background-color: #fff;
          border: 1px solid $black-main;
        }
      }

    }
  }

  &__item {
    position: relative;
    height: 860px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    font-family: 'FjallaOne', sans-serif;
    color: $black-main;

    @include media-w($md) {
      flex-direction: column;
    }

    @include media-w($sm) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

  }

  &__bg {
    position: relative;
    max-width: 49.74vw;
    max-height: calc(100vh - 124px);
    width: 100%;

    @include media-w($lg) {
      min-height: calc(100vh - 78px);
      max-height: unset;
    }

    @include media-w($md) {
      min-height: unset;
      height: calc(100vh - 440px);
      max-width: 100%;
    }
  }

  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__pin {
    position: absolute;
    top: 60px;
    right: -40px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 110px;

    @include media-w($md) {
      background-size: contain;
      width: 210px;
      height: 90px;
      top: 20px;
      right: -30px;
    }

    @include media-w($sm) {
      display: none;
    }
  }

  &__text {
    max-width: 48vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-w($md) {
      padding: 0 25px 30px;
      max-width: 80%;
      margin: 0 auto;
    }

    @include media-w($sm) {
      max-width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 10px solid #fec343;
    border-left: none;
    max-height: 90%;

    @include media-w($md) {
      border-top: none;
      border-left: 10px solid #fec343;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    height: 100%;

    @include media-w($lg) {
      padding-top: 40px;
    }

    @include media-w($md) {
      padding-top: 10px;
    }
  }

  &__title {
    font-size: 104px;
    margin: 0 0 15px 0;
    line-height: 1;

    @include text-clamp(4);

    @include media-w($xl) {
      font-size: 65px;
    }

    @include media-w($lg) {
      font-size: 54px;
      margin-bottom: 0;
    }

    @include media-w($sm) {
      font-size: 50px;
    }
  }

  &__subtitle {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 0.03em;

    @include media-w($lg) {
      margin-bottom: 10px;
      font-size: 20px;
    }

    @include media-w($md) {
      margin-bottom: 10px;
      font-size: 18px;
    }

    @include media-w($sm) {
      font-size: 22px;
    }
  }

  &__countdown {
    margin-bottom: 15px;

    @include media-w($md) {
      margin-bottom: 10px;
    }
  }

  &__offer {
    display: inline-block;
    color: $blue60;
    font-family: 'Poppins', sans-serif;

    @include media-w($md) {
      font-size: 14px;
    }
  }

  &__btn {
    margin-top: auto;
    max-width: 270px;
    transform: translateY(40px);
    font-family: 'Poppins', sans-serif;

    @include media-w($md) {
      transform: translateY(32px);
    }

    @include media-w($sm) {
      min-width: 220px;
    }
  }
}
