<div class="offer-top">
        <div class="container container--big">
            <div class="offer-top__inner">
                <div class="offer-top__box">
                    <div class="offer-top__badge">
                        <svg class="offer-top__svg">
                            <use xlink:href="images/sprite.svg#offer-badge"></use>
                        </svg>
                    </div>

                    <div class="offer-top__content">
                        <span class="offer-top__text-bold">10% Off</span>
                        <span class="offer-top__text">To Get 10% Off in your next order</span>
                    </div>

                    <div class="countdown offer-top__countdown">
                        <div class="countdown__wrapper countdown__wrapper--sm">
                            <div class="minutes time-elem time-elem--sm">
                                <span class="top top--sm"></span>
                                <span class="top-back top-back--sm">
                            <span></span>
                        </span>

                                <span class="bottom"></span>
                                <span class="bottom-back bottom-back--sm">
                            <span></span>
                        </span>
                            </div>
                            <span class="countdown__text">min</span>
                        </div>

                        <div class="countdown__divider"></div>

                        <div class="countdown__wrapper countdown__wrapper--sm">
                            <div class="seconds time-elem time-elem--sm">
                                <span class="top top--sm"></span>
                                <span class="top-back top-back--sm">
                            <span></span>
                        </span>

                                <span class="bottom"></span>
                                <span class="bottom-back bottom-back--sm">
                            <span></span>
                        </span>
                            </div>
                            <span class="countdown__text">sec</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
