<ul class="pagination">
    <li class="pagination__item">
        <a class="pagination__link  pagination__link--active" href="#">1</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">2</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">3</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">4</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">5</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">6</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">7</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">8</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">9</a>
    </li>

    <li class="pagination__item">
        <a class="pagination__link" href="#">10</a>
    </li>
</ul>
