<section class="subscribe-form">
    <div class="subscribe-form__inner">
        <div class="subscribe-form__img-wrapper" style="background-image: url('images/form/form-bg.png')"></div>

        <h3 class="subscribe-form__subtitle">Subscribe to our newsletter</h3>

        <form class="subscribe-form__form form">
            <label class="subscribe-form__label form__label">
                <input class="subscribe-form__input form__input" type="email" placeholder="Hello@mail.com" name="email" required>
                <span class="subscribe-form__box form__box">Enter your Email</span>
            </label>

            <button class="subscribe-form__btn" type="submit">Subscribe</button>
        </form>
    </div>
</section>