<section class="subscribe-form">
    <div class="subscribe-form__inner subscribe-form__inner--blue">
        <div class="subscribe-form__img-wrapper" style="background-image: url('images/form/form-bg.png')"></div>

        <h3 class="subscribe-form__subtitle">Subscribe to our newsletter</h3>

        <form class="subscribe-form__form form">
            <label class="subscribe-form__label form__label">
                    <span class="subscribe-form__box form__box form__box--blue">
                        Enter your Email
                    </span>
                <input class="subscribe-form__input form__input form__input--blue" type="email" placeholder="Hello@mail.com" name="email" required>
            </label>

            <button class="subscribe-form__btn" type="submit">Subscribe</button>
        </form>
    </div>
</section>
